<%= form_tag("/orders/create", method:"get") do  %>
    <div>
    <%= label_tag 'oreder_type'  %>
    <div>
      <%= select_tag(:order_type, options_for_select([['lunch', 1],['breakfast',2],['dinner',3]])) %>
     
     </div>
     <div>

      <%= label_tag 'From'  %>
      </div>
      <%= text_field_tag(:restaurant_name) %><br></br>



      <%= label_tag 'invit your friend'  %>
      <div style="border:1px solid ;width:35%" >
      
      <% @users.each  do |usereman| %>
        <% @friend.each  do |userfriend| %>
       
       
        
             <% if userfriend.friend_id ==  usereman.id  %>
             <li>
             
             <%= usereman.username %>
             <%= link_to "Add user", orders_new_path( :account_id =>  userfriend.friend_id ),method: :get %>
             <% end %>       
        </li>
         <% end %>
         <% end %>

      </div>
      <br></br>


     

     
      <br></br>
      <%= label_tag 'friends that you invited '%>
      <div div style="border:1px solid ;width:35%">
                      
         
      </div>
        
   
    <div>
    <br></br>
     <%= submit_tag "add new order", :class => "btn btn-primary", :id => "add" %>
    
    </div>
      
 
    
    </div>
  <% end %>
 

  



 
