
<%= form_tag("/orders/create", method:"get") do  %>

    <div>
    <%= label_tag 'order_type'  %>
    <div>
      <%= select_tag(:order_type, options_for_select([['lunch','lunch' ],['breakfast','breakfast'],['dinner','dinner']])) %>
     
     </div>
     <div>

      <%= label_tag 'From'  %>
      </div>
      <%= text_field_tag(:restaurant_name) %><br></br>



      <%= label_tag 'invit your friend'  %>
       
    <br></br>
     <%= submit_tag "add new order", :class => "btn btn-primary", :id => "add" %>
    
    </div>
      
 
    
    </div>
  <% end %>

  <div style="border:1px solid ;width:35%" >
  


  <% @orders.each  do |order| %>
    <% $orderid=order.id %>
    <p style="display:inline-block"> <%= order.order_type %> <%= order.restaurant_name %></p>
   
         <%= link_to "invite friend",method: :get %>
<br/>
    <% end %>
  </div>
 

  <div style="border:1px solid ;width:35%" >
      
  <% @users.each  do |usereman| %>
    <% @friend.each  do |userfriend| %>
   
   
    
         <% if userfriend.friend_id ==  usereman.id  %>
         <li>
         
         <%= usereman.username %>
         <%= link_to "invite friend", orders_new_path( :friendd_id =>  userfriend.friend_id,:order_id => $orderid ),method: :get %>
         
         
         <% end %>    
         

    </li>
    
   
     <% end %>
     
     <% end %>


  </div>

  <div style="border:1px solid ;width:35%" >
  
 
  <br></br>

  
  <%= label_tag 'friends that you invited '%>
  <div style="border:1px solid ;width:35%">

 
  <% @invitedfriends.each  do |usereman| %>
  
    <%= usereman[0].username %>
  
  
    <%=link_to 'uninvite',  orders_new_path(:invite_id => usereman[0].id,:order_id => $orderid), method: :get, data: { confirm: "Are you sure?" } %>
  
    <br/>
    <% end %>
  
                  
     
  </div>




 
