<!DOCTYPE html>
<html>
  <head>
    <title>YallaNotlob</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

  
   <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
   
    
  </head>

  <body>

  <div class="container">
  <%="welocme ,#{current_user.username}!" if user_signed_in?%> 
  <%=link_to 'Logout', destroy_user_session_path,method: :delete if user_signed_in?%>
      <div class="row">
        <div class="col-12">
          <%= yield %>
        </div>
      </div>
    </div>
  
  </body>
</html>




