<!DOCTYPE html>
<html>
  <head>
    <title>YallaNotlob</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
   

  
   <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
   
    <% if user_signed_in? %> 
    </head ">
<header>
<nav class="navbar navbar-inverse" >
	<div class="container">
		<div class="navbar-header">

	 
    <%="welocme ,#{current_user.username}!" if user_signed_in? %> 
         <%= image_tag current_user.avatar.variant(resize: "70x70") if current_user.avatar.attached? %> 
    
   
  
   	<%= link_to 'Home', root_path, :class => 'navbar-brand'  %>
     <%= link_to 'Friends', friends_path, :class => 'navbar-brand' %>
     <%= link_to 'Groups', groupusers_new_path, :class => 'navbar-brand' %>
     <%= link_to 'Orders', orders_index_path, :class => 'navbar-brand' %>
      <%=link_to 'Logout', destroy_user_session_path,:class => 'navbar-brand' ,method: :delete if user_signed_in? %>
   
		</div>

	  
</nav>
</header>
  
<%end%>
<%= yield %>
</body>
</html>
         
          




