<html>
  <head>
    <title>forget password</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= stylesheet_link_tag "/stylesheets/application.scss"%>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>  
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <style>
    

    </style>
  </head>
  <body>



<h2>Resend confirmation instructions</h2>

<%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email) %>
  </div>

  <div class="actions">
    <%= f.submit "Resend confirmation instructions" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
</body>
</html>