<html>
      <head>
            <style>
                .asd{
                    border : solid 3px ; 
                    text-align: left;


                }

            body {
            font-family: system-ui;
            background: #f06d06;

            color: white;
            text-align: center;
        }
      
            </style>

      </head>
    <body>
            <h3>friends</h3>

            <div class= "add-freind">
            <%= form_tag("/friends/search", method:"get") do  %>
                <div>
                  
                  <%= text_field_tag(:q) %>

                </div>
                <div>
                  <%= submit_tag("add new friend") %>
                </div>
              <% end %>

              


            <h4>friends list</h4>

            <div class= "asd">
            <ul>
              <% @fris.each do |fri| %>
                <% @alls.each do |all| %>
                    <%   if fri.friend_id == all.id  %>
                                <div class="left">
                                
                              <li>
                            <%= all.username %> |
                            <%= all.email %> | 
                           

                            <%= image_tag all.avatar.variant(resize: "70x70")  if all.avatar.attached? %> 
                             
                              <%= link_to 'unfriend', friend_path(fri.friend_id) , method: :delete %>
                              <%= yield %>
                             
                            </li>
                            </div>

                    <% end %>
                
              <% end %>
              <% end %>
            </ul>
            </div>
        </body>
 <html>


