<html>
<head>
<style>
.asd{
 border : solid 3px ; 
}
.img{

width : 40px ; 
height : 40px ; 



}
</style>

</head>
<body>
<%="welocme ,#{current_user.username}!"%>

<h3>friends</h3>

<%= form_tag("/friends/search", method:"get") do  %>
    <div>
      
      <%= text_field_tag(:q) %>

    </div>
    <div>
      <%= submit_tag("add new friend") %>
    </div>
  <% end %>


<h4>friends list</h4>

<div class= "asd">
<ul>
  <% @fris.each do |fri| %>
    <% @alls.each do |all| %>
        <%   if fri.friend_id == all.id  %>
                    <div>
                    
                  <li>
                 <%= all.username %> |
                 <%= all.email %> | 
                 <img class="img"  src=<%= all.image %> alt="rss" /> |
                 
                  <%= link_to 'unfriend', friend_path(fri.friend_id) , method: :delete %>
                  <%= yield %>


                

                 </li>
                 </div>

         <% end %>
    
  <% end %>
  <% end %>
 
</ul>





</div>





</body>
<html>


