
<<<<<<< HEAD
<html>
<head>
    <title>forget password</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= stylesheet_link_tag "/stylesheets/groupusers.scss"%>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>  
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <style>
    body{
      background: #dd7f36;

    }
    </style>
  </head>
<body>
<div id="order">
=======
<%= stylesheet_link_tag 'groupusers', media: 'all', 'data-turbolinks-track': 'reload' %>



>>>>>>> 63e12e7c79a07e33e358427059e5566e0e7102e6
<%= form_tag("/groupusers/create", method:"get") do  %>
  <div class="add-new">
    <div class="group_field">
      
      <%= text_field_tag(:group_name) %> 

    </div>
<<<<<<< HEAD
    <div>
     <%= submit_tag "add New Group", :class => "btn btn-primary", :id => "add" %>
=======
    <div class="submit">
     <%= submit_tag "add new group", :class => "button", :id => "add" %>
>>>>>>> 63e12e7c79a07e33e358427059e5566e0e7102e6
    
    </div>
    </div>
  <% end %>
 
 <div>
  <ul style="border:1px solid ;width:35%" id="list">
    <%= link_to "AddUsers", groupusers_new_path(:user_id => current_user.id),method: :get%>
  
  <% @currentgroupusers.each  do |groupuser| %>
    <li>
        <%= groupuser[0].group_name%>

         <%= link_to "ShowUsers", groupusers_new_path(:account_id => groupuser[0].id),method: :get%>
  <%=link_to 'DeleteGroup',  groupusers_path(:account_id => groupuser[0].id), method: :delete, data: { confirm: "Are you sure?" } %>
           

             <div  style="border:1px solid ;width:75% ;margin-top:5%" id="list">
            <h5>  chooce Friends to add in    <%= groupuser[0].group_name%> Group</h5>
<ul>
  
<%   @currentuserfriendsnamer.each  do |userfindff| %>
    <li>
       
         <%= userfindff[0].username%>
         <% @flage %>
    <%= link_to "AddUser", groupusers_new_path(:addfriend_id => userfindff[0].id,:groupid=>groupuser[0].id),method: :get%>
    


    </li>
      
     
       <% end %>
</ul>
</div>

    <%= yield %> 

 
      
      
    </li>
  <% end %>
</ul>
</div>
 
<div  style="border:1px solid ;width:35%" id="list">


<ul >        
<% @arr.each  do |userfind| %>
    <li>
       
         <%= userfind[0].username %>
         <%= userfind[0].id %>
         <% @userfind=userfind[0].id%>
          <%=link_to 'DeleteUser',  groupusers_edit_path(:delfriend_id => userfind[0].id), method: :delete, data: { confirm: "Are you sure?" } %>

    </li>
     <% end %>
      
</ul>
</div>
</div>
</body>
</html>
  




 
